body{
    background-color: #f5f5f5;
}

.socialicons{
    background-color:#3674d2d6;
    color: #FFFFFF;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 40px;
}


.div1{
    display: flex;
    background-color:#f5f5f5;
    padding: 5px;
    text-decoration: none;
    gap:20px;
    font-weight: bolder;
    font-size:16.7px;
}
#log1{
    background-color: #ff0000;
    border: #ff0000;
}
#log1:hover{
    background-color: #000000;
}
#log{
    background-color: #276DD8;
    border: #276DD8;
}
#log:hover{
    background-color: #000000;
}
button{
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 20px;
    border-radius: 20px;
    height: 30px;
}



.homeimg{
    position: relative;
    top:5px;
}
.homecontent{
    position: absolute;
    top:200px;
    left:35px;
}
.log{
    position: absolute;
    top: 430px;
    left:35px;
    background-color: #ff0000;
    border: #ff0000;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
}



.highlights{
    position: relative;
}
.grid-container{
    position: absolute;
    top:30px;
    left: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}
.grid-item2{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 230px;
    height: 220px;
    box-shadow: 3px 3px 3px 3px #808080;
    left: 500px;
    transition: all 0.3s;
    cursor: pointer;
}
.grid-item2:hover{
    transform: scale(1.1);
}
.grid-item3{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 230px;
    height: 220px;
    box-shadow: 3px 3px 3px 3px #808080;
    left: 850px;
    transition: all 0.3s;
    cursor: pointer;
}
.grid-item3:hover{
    transform: scale(1.1);
}

.grid-container1{
    position: absolute;
    top: 350px;
    left: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}
.grid-item4{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 230px;
    height: 220px;
    box-shadow: 3px 3px 3px 3px #808080;
    left: 100px;
    transition: all 0.3s;
    cursor: pointer;
}
.grid-item4:hover{
    transform: scale(1.1);
}
.grid-item5{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 230px;
    height: 220px;
    box-shadow: 3px 3px 3px 3px #808080;
    left: 480px;
    transition: all 0.3s;
    cursor: pointer;
}
.grid-item5:hover{
    transform: scale(1.1);
}
.grid-item6{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    width: 230px;
    height: 220px;
    box-shadow: 3px 3px 3px 3px #808080;
    left: 830px;
    transition: all 0.3s;
    cursor: pointer;
}
.grid-item6:hover{
    transform: scale(1.1);
}



.courses-heading{
    position: relative;
    top: 690px;
    left: 450px;
}


.courses{
    position: relative;
}
.grid-container2{
    position: absolute;
    top: 740px;
    left: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 30px;
    justify-content: center;
}
.grid-item7{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    left: 80px;
    box-shadow: 3px 3px 3px 3px #808080;
}
.projectcontent{
    padding: 20px;
}
#projectbutton{
    position: absolute;
    background-color: #ff0000;
    border: #ff0000;
    color: #FFFFFF;
    top:342px;
    left: 95px;
}
.grid-item7:hover{
    transform: scale(1.1);
}

.grid-item8{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    left: 465px;
    box-shadow: 3px 3px 3px 3px #808080;
}
.certificationcontent{
    padding: 20px;
}
#certificationbutton{
    position: absolute;
    background-color: #ff0000;
    border: #ff0000;
    color: #FFFFFF;
    top:342px;
    left: 95px;  
}
.grid-item8:hover{
    transform: scale(1.1);
}
.grid-item9{
    position: absolute;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    left: 850px;
    box-shadow: 3px 3px 3px 3px #808080;
}
.resumecontent{
    padding: 20px;
}
#resumebutton{
    position: absolute;
    background-color: #ff0000;
    border: #ff0000;
    color: #FFFFFF;
    top:342px;
    left: 95px;     
}
.grid-item9:hover{
    transform: scale(1.1);
}





.div-container{
    position: relative;
    top:1280px;
    background-color:#000000;
    padding-left: 150px;
}
.div-main{
    font-family:"Poppins";
    font-weight: bold;
    font-size: large;
    padding-bottom: 10px;
}
.button{
    background-color: #1A1AE4;
    color: #EEEEEE;
    border: #1A1AE4;
    width: 150px;
    height: 30px;
    font-family:"Poppins";
    font-weight:bold;
}
.submit{
    font-family:"Poppins";
    font-weight:800;
    font-size:medium;
}
.about{
    color: #EEEEEE;
    font-family:"Poppins";
    font-weight: bolder;
    padding-bottom: 5px;
    font-size: larger;
    padding-right: 75px;
}
.about-p{
    color: #EEEEEE;
    font-family: "Poppins";
    font-weight:500;
    font-size:small;
}




.asidebar{
    position: fixed;
    top: 250px;
    right: 5px;
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    background-color: #000000;
    color:#ffffff;
    border: 1px solid #000000;
    border-radius: 15px;
    width: 45px;
    height: 130px;
}